.sobre-nosotros {
    margin-left: 2rem;
    margin-right: 2rem;

    @include tablet {
        @include grid(2, 2rem);
    }


    img {
        border-radius: 1rem;

    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: $bold;
    }
}